---
interface Props {
  class?: string;
}

const baseClass = "text-3xl text-center md:text-6xl font-black tracking-tighter text-gray-900";

const { class: className = baseClass } = Astro.props;
---

<h2 class={className}><slot /></h2>
